@tailwind base;
@tailwind components;
@tailwind utilities;


/*Intro Paragraph Javascript*/
.homeDarkmode{
  background-color: rgb(27, 25, 25);
  color: #ffffff;
}

.navDarkmode{
  background-color: #2f5f5c;
}

.text {
  font-size: 5em;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;

  width: 0;
  animation:
    typing 4s forwards,
    cursor .4s step-end infinite;
  animation-iteration-count:
    infinite,
    infinite
}
.text.delete{
  animation: deleting 2s steps(100, end);
}
@keyframes typing {
  0% { width: 0%;}

  100% {width: 100%;}
}

@keyframes deleting {
  0% { width: 100%;}

  20% {width: 0%;}

  100% {width: 0%;}
}
@keyframes cursor {
  50% { border-color: transparent; }
}


